<div class="container">
  <div class="drawer">
    <div class="drawer-title">
      <h2>Proposta #45673</h2>
      <span>x</span>
    </div>

    <div class="drawer-body">
      <div class="drawer-body-heading">
        <h3>Documentos Pendentes</h3>
        <span>2</span>
      </div>

      <div class="drawer-container-upload">
        <div class="documents-container">
          <ng-container *ngFor="let document of documents; let i = index">
            <h3>{{ document.name }}</h3>
            <ng-container *ngIf="document?.file || document?.imageSrc">
              <button (click)="triggerFileInput(i)">Reenviar</button>
            </ng-container>
            <ng-container *ngIf="!document?.file && !document?.imageSrc">
              <button (click)="triggerFileInput(i)">Enviar</button>
            </ng-container>

            <div class="documents">
              <ng-container *ngIf="document.file">
                <div
                  class="card-document"
                  (click)="visualizeImage(document.file)"
                >
                  Documento: {{ document.name }}
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <img [src]="imageSrc" alt="" />
      </div>
    </div>
  </div>
</div>

<input
  type="file"
  #fileInput
  style="display: none"
  (change)="onFileSelected($event)"
  multiple
/>
